# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS/Android build
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*
android/.gradle/
android/captures/
android/app/debug/
android/app/profile/
android/app/release/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

# Misc
*.log
*.lock
*.tmp
*.temp
*.bak
*.DS_Store
*.class

# Windows/Linux/macOS build artifacts
windows/Runner/GeneratedPluginRegistrant.*
linux/flutter/ephemeral/
macos/Flutter/ephemeral/

# Web build artifacts
web/.dart_tool/
web/build/

# Coverage
coverage/

# Symbolication
app.*.symbols

# Exceptions
!/assets/
!/lib/
!/test/
!/web/
!/windows/
!/linux/
!/macos/
!/ios/
!/android/
